.font {
    color: $secondarycolor;
    font-family: 'Cairo', sans-serif;
    font-weight: $light;
    font-size: $textLg;
    text-align: right;
    text-decoration: none;
}


h1 {
    color: $secondarycolor;
    font-family: 'Cairo', sans-serif;
    font-weight: $light;
    font-size: $textLg;
    text-align: left;
    text-decoration: none;
}

body {
    background-color: $maincolor;
}

hr {
    background-color: $secondarycolor;
    opacity: 100%;
    height: 0.3rem;
    margin-left: start;
}
#w1 {
    width: 20%;
}
#w2 {
    width: 40%;
}
#w3 {
    width: 60%;
}
#w4 {
    width: 80%;
}
#w5 {
    width: 100%;
    height: 0.1rem;
}
#w6 {
    width: 100%;
}

$paleta: (
    "uno": black,
    "dos": white,
);

.bg-black {
    background-color: map-get($map: $paleta, $key: "uno");
}

.bg-white {
    background-color: map-get($map: $paleta, $key: "dos");
}

@mixin link-style () {
    font-family: 'Cairo', sans-serif;
    font-weight: $light;
    font-size: $textXl;
    text-align: left;
    text-decoration: none;
    color: map-get($map: $paleta, $key: "dos")
}

.links {
    @include link-style();
}

.rendersflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-size {
    width: 450px;
    height: 250px;
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer *30
);

.espaciado {
    padding-left: map-get($map: $spacers, $key: 6)
}
