@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');

//font
$mainfont: 'Cairo', sans-serif;

//size
$textsm: .6rem;
$textMd: 1rem;
$textLg: 2rem;
$textXl: 3rem;

//weight
$bold: 600;
$regular: 400;
$light: 300;

